.scoll-loader-container{
  opacity: 0;

  &.showing{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease-in;
  }
  .scoll-loader-element{
    opacity: 0;

    &.slide-up{
      transform: translateY(30px);
    }

    &.slide-in-right{
      transform: translateX(-30px);
    }

    &.showing{
      opacity: 1;
      transform: translateY(0px) translateX(0px);
      transition: transform 0.4s ease-out, opacity 0.4s ease-out;
    }
  }
}