@font-face {
  font-family: 'avenir-book';
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_0_0.eot");
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_0_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_0_0.woff2") format("woff2"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_0_0.woff") format("woff"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'avenir-medium-italic';
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_1_0.eot");
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_1_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_1_0.woff2") format("woff2"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_1_0.woff") format("woff"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'avenir-italic';
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_2_0.eot");
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_2_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_2_0.woff2") format("woff2"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_2_0.woff") format("woff"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_2_0.ttf") format("truetype");
}

@font-face {
  font-family: 'avenir-medium';
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_3_0.eot");
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_3_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_3_0.woff2") format("woff2"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_3_0.woff") format("woff"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_3_0.ttf") format("truetype");
}

@font-face {
  font-family: 'avenir-black-italic';
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_4_0.eot");
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_4_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_4_0.woff2") format("woff2"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_4_0.woff") format("woff"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_4_0.ttf") format("truetype");
}

@font-face {
  font-family: 'avenir-black';
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_5_0.eot");
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_5_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_5_0.woff2") format("woff2"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_5_0.woff") format("woff"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_5_0.ttf") format("truetype");
}

@font-face {
  font-family: 'avenir-light';
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_6_0.eot");
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_6_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_6_0.woff2") format("woff2"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_6_0.woff") format("woff"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_6_0.ttf") format("truetype");
}

@font-face {
  font-family: 'avenir-light-italic';
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_7_0.eot");
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_7_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_7_0.woff2") format("woff2"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_7_0.woff") format("woff"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_7_0.ttf") format("truetype");
}

@font-face {
  font-family: 'avenir-heavy-italic';
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_8_0.eot");
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_8_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_8_0.woff2") format("woff2"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_8_0.woff") format("woff"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_8_0.ttf") format("truetype");
}

@font-face {
  font-family: 'avenir-heavy';
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_9_0.eot");
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_9_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_9_0.woff2") format("woff2"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_9_0.woff") format("woff"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_9_0.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "avenir-book", Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #274053;
  counter-reset: section;
}

.gradient-background {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a2e59+0,14b2a1+100 */
  background: #2a2e59;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #2a2e59 0%, #14b2a1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2e59', endColorstr='#14b2a1',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.gradient-background2 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a2e59+0,14b2a1+100 */
  background: #2a2e59;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #2a2e59 0%, #14b2a1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2e59', endColorstr='#14b2a1',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.dark-block {
  background: #274053;
  padding: 80px 0;
}

.light-grey-block {
  background: #f9f9f9;
  padding: 80px 0;
}

.primary-block {
  background: #14b2a1;
  padding: 80px 0;
  color: #fff;
}

.white-block {
  padding: 80px 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.center {
  text-align: center;
}

header {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  padding: 25px;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  background: #234;
  color: #f9f9f9;
  padding: 50px 25px;
}

header h1,
footer h1 {
  font-family: 'avenir-black';
  margin: 0;
}

header h1 small,
footer h1 small {
  font-family: 'avenir-light';
  font-size: 50%;
}

.main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  margin-bottom: 35px;
}

h1 {
  font-size: 42px;
  line-height: 50px;
  font-family: 'avenir-heavy';
}

h1 span {
  display: block;
  margin-top: 25px;
}

li {
  line-height: 1.5;
  margin-bottom: 8px;
}

p {
  line-height: 1.5;
  margin-bottom: 35px;
}

h2 {
  font-size: 32px;
  font-family: 'avenir-heavy';
}

a {
  color: #274053;
  text-decoration: underline;
}

.btn {
  display: inline-block;
  padding: 15px 45px;
  background: #eb505b;
  color: #fff;
  font-family: 'avenir-medium';
  text-decoration: none;
  border-radius: 3px;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.btn.btn-outline {
  background: transparent;
  color: #2a2e59;
  border: 2px solid #2a2e59;
}

@media (max-width: 600px) {
  .btn {
    width: 100%;
    text-align: center;
  }
}

.btn-white {
  background: #fff;
  color: #274053;
}

.btn-white.btn-outline {
  color: #fff;
  border: 2px solid #fff;
}

.btn-white.btn-outline:hover {
  background: #fff;
  color: #274053;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.two-col .col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
}

.flex.four-col .col {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%;
}

.hero-block {
  padding: 0;
}

.hero-block .flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero-block .flex .col:first-child {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  overflow: hidden;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-block .flex .col:first-child img {
  display: none;
}

.hero-block .flex .col:first-child .image-text {
  position: absolute;
  bottom: 45px;
  left: 35px;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  max-width: 190px;
  line-height: 1.5;
}

.hero-block .flex .col:first-child .gradient-background {
  position: absolute;
  bottom: -58px;
  left: -15px;
  width: 125%;
  height: 80px;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.hero-block .flex .col:last-child {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0 0 0 -1px;
}

.hero-block .flex .col:last-child .col-content {
  padding: 150px 45px 150px 25px;
  max-width: 570px;
  float: right;
}

.hero-block .flex .col:last-child .col-content a.btn {
  padding-left: 35px;
  padding-right: 35px;
}

.hero-block p {
  margin: 35px 0;
  font-size: 20px;
  line-height: 30px;
}

.hero-block a.btn {
  margin-right: 45px;
}

.hero-block a:not(.btn) {
  font-size: 18px;
}

.four-points {
  padding-top: 60px;
  padding-bottom: 45px;
}

.four-points .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-family: 'avenir-heavy';
  padding: 0 2vw;
}

.what-is-loanscore {
  padding-bottom: 0;
}

.what-is-loanscore .flex {
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

.what-is-loanscore .flex .col {
  position: relative;
}

.what-is-loanscore .flex .col:first-child {
  padding-left: 0;
  padding-right: 45px;
  padding-bottom: 60px;
}

.what-is-loanscore .flex .col:last-child img {
  margin: 0 auto -80px;
}

@media (max-width: 720px) {
  .what-is-loanscore .flex .col:last-child img {
    max-width: 50%;
  }
}

@media (max-width: 480px) {
  .what-is-loanscore .flex .col:last-child img {
    max-width: 100%;
  }
}

.what-is-loanscore .flex .col h2 {
  margin-top: 10px;
  line-height: 44px;
}

.what-is-loanscore .flex .col h2 span {
  font-family: 'avenir-light';
}

.what-is-loanscore .score-content {
  position: absolute;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  width: 415px;
  height: 100%;
  top: 0;
  left: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.what-is-loanscore .score-content .savings {
  position: absolute;
  top: 110px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 78%;
  padding: 10px 10px 10px 15px;
  height: 60px;
  border-radius: 5px;
  background: #dcf4f1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.what-is-loanscore .score-content .savings .align-left {
  display: inline-block;
  width: 40%;
  text-align: left;
}

.what-is-loanscore .score-content .savings .align-right {
  width: 55%;
  display: inline-block;
  text-align: right;
}

.what-is-loanscore .score-content .savings span {
  color: #14b2a1;
}

.what-is-loanscore .score-content .savings span.sml {
  font-size: 14px;
  font-family: 'avenir-light';
}

.what-is-loanscore .score-content .savings span.med {
  font-size: 18px;
  font-family: 'avenir-light';
}

.what-is-loanscore .score-content .savings span.lrg {
  font-size: 36px;
  font-family: 'avenir-heavy';
  letter-spacing: -1px;
}

.what-is-loanscore .score-content .score {
  position: absolute;
  top: 240px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 240px;
  height: 240px;
  background: url(img/score-dial-background.png) no-repeat center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.what-is-loanscore .score-content .score .dial,
.what-is-loanscore .score-content .score .text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.what-is-loanscore .score-content .score .dial {
  font-size: 0;
  background: url(img/score-dial-pointer.png) no-repeat center;
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
}

.what-is-loanscore .score-content .score .text {
  top: 65px;
}

.what-is-loanscore .score-content .score span {
  color: #284052;
  display: block;
  text-align: center;
  line-height: 1;
}

.what-is-loanscore .score-content .score span.sml {
  font-size: 14px;
  font-family: 'avenir-light';
}

.what-is-loanscore .score-content .score span.sml.grey {
  color: #93a0aa;
}

.what-is-loanscore .score-content .score span.lrg {
  font-size: 70px;
  font-family: 'avenir-heavy';
  letter-spacing: -1px;
}

.how-it-works {
  padding-bottom: 0 !important;
}

.how-it-works .flex {
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.15);
}

.how-it-works .flex .col {
  padding-right: 80px;
}

.how-it-works .flex .col:first-child {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-left: 35px;
}

.how-it-works .flex .col:last-child {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: left 0;
  padding-right: 35px;
}

.how-it-works .flex .col .white-card {
  background: #fff;
  padding: 35px 45px 25px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.how-it-works .flex .col .white-card h3 {
  font-family: 'avenir-heavy';
  font-size: 24px;
  line-height: 33px;
}

.how-it-works .flex .col .white-card h3 span {
  font-family: 'avenir-light';
}

.how-it-works .flex .col .white-card h3 strong {
  color: #eb505b;
}

.how-it-works .flex .col .white-card ul {
  list-style-type: none;
  font-size: 16px;
}

.how-it-works .flex .col .white-card ul li {
  margin-bottom: 25px;
  padding-left: 55px;
  position: relative;
}

.how-it-works .flex .col .white-card ul li:before {
  position: absolute;
  top: -7px;
  left: 0;
  margin-right: 20px;
  counter-increment: section;
  content: counter(section);
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: #14b2a1;
  color: #fff;
  text-align: center;
  line-height: 39px;
  font-family: 'avenir-black';
}

.features {
  padding-bottom: 0 !important;
}

.features h2 {
  margin-bottom: 80px;
}

.features h2 span {
  color: #eb505b;
}

.features .flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.15);
}

.features .flex .col {
  margin-bottom: 20px;
  padding-right: 45px;
  position: relative;
  padding-left: 60px;
}

.features .flex .col:nth-child(odd) {
  padding-right: 60px;
}

@media (max-width: 720px) {
  .features .flex .col:nth-child(odd) {
    padding-right: 25px;
  }
}

.features .flex .col:before {
  position: absolute;
  content: '';
  width: 37px;
  height: 37px;
  top: -1px;
  left: 0;
  background: #14b2a1;
  border-radius: 50%;
}

.features .flex .col:after {
  position: absolute;
  content: '';
  width: 16px;
  height: 6px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 8px;
  top: 9px;
}

.features .flex .col h3 {
  font-family: 'avenir-heavy';
  font-size: 16px;
  margin-bottom: 5px;
}

.features .flex .col p {
  font-size: 16px;
  margin-bottom: 15px;
}

@media (max-width: 720px) {
  .features .flex .col p {
    margin-bottom: 35px;
  }
  .features .flex .col p:last-child {
    margin-bottom: 0;
  }
}

.testimonials {
  padding-bottom: 0 !important;
}

.testimonials .container {
  border-bottom: 1px solid rgba(151, 151, 151, 0.15);
  padding-bottom: 80px;
}

.testimonials p {
  font-size: 32px;
  line-height: 42px;
  font-family: 'avenir-black';
  padding: 0 15%;
  margin: 0;
  color: #14b2a1;
}

.media,
.partners {
  padding-bottom: 0 !important;
}

.media .container,
.partners .container {
  border-bottom: 1px solid rgba(151, 151, 151, 0.15);
  padding-bottom: 80px;
}

.media h3,
.partners h3 {
  font-family: 'avenir-black';
  font-size: 24px;
  line-height: 33px;
  padding: 0 15%;
}

.media img,
.partners img {
  display: inline-block;
  margin: 20px 15px;
  height: 30px;
}

.media .container {
  border: none;
}

.media img {
  margin: 15px 35px;
  height: 35px;
}

.faq {
  padding-bottom: 0 !important;
}

.faq .container {
  border-bottom: 1px solid rgba(151, 151, 151, 0.15);
  padding-bottom: 80px;
}

.faq .acc {
  width: 75%;
  margin: 0 auto;
}

.faq .acc .acc-item {
  background: transparent;
  border-radius: 6px;
  margin-bottom: 15px;
  text-align: left;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.015);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.015);
}

.faq .acc .acc-item h3 {
  position: relative;
  margin: 0;
  font-size: 20px;
  font-family: 'avenir-light';
  display: block;
  padding: 35px 80px 35px 40px;
  cursor: pointer;
  color: #14b2a1;
}

.faq .acc .acc-item h3:after {
  position: absolute;
  right: 40px;
  top: 40%;
  content: '';
  width: 8px;
  height: 8px;
  border: 2px solid;
  border-color: transparent #274053 #274053 transparent;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.faq .acc .acc-item.open {
  border: 1px solid rgba(151, 151, 151, 0.15);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
  background: #f9f9f9;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.faq .acc .acc-item.open h3:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.faq .acc .acc-item .acc-content {
  border-top: 1px solid rgba(121, 121, 121, 0.15);
  display: none;
  padding: 20px 40px 40px;
}

.faq .acc .acc-item .acc-content p {
  margin: 0;
  font-size: 16px;
}

.ctas {
  color: #fff;
  padding-top: 150px;
  padding-bottom: 150px;
}

.ctas h3 {
  display: block;
  font-family: 'avenir-light';
  font-size: 32px;
}

.ctas a.btn {
  margin: 20px;
}

.sticky {
  position: fixed;
  -webkit-transition: all 0.25s cubic-bezier(0.34, 1.39, 0.55, 1.12);
  transition: all 0.25s cubic-bezier(0.34, 1.39, 0.55, 1.12);
  bottom: -120px;
  left: 0;
  width: 100%;
  background: #eb505b;
  color: #fff;
  z-index: 999;
  text-align: center;
  font-size: 16px;
}

.sticky p {
  margin: 0;
  padding: 10px 25px;
}

.sticky a.btn {
  width: auto;
  margin: 0 25px;
  color: #fff;
  border-color: #fff;
  padding: 8px 35px;
}

@media (max-width: 640px) {
  .sticky a.btn {
    margin-top: 15px;
  }
}

.sticky a.btn:hover {
  background: #fff;
  color: #eb505b;
}

.sticky.show {
  bottom: 0;
}

@media (max-width: 1180px) {
  big,
  h1 {
    font-size: 35px;
  }
  .hero-block .flex .col:last-child .col-content {
    padding: 80px 40px;
  }
  .hero-block .flex .col:last-child .col-content a.btn {
    margin-right: 15px;
  }
  .hero-block .flex .col:last-child .col-content a:not(.btn) {
    display: block;
    margin-top: 35px;
  }
}

@media (max-width: 1024px) {
  .hero-block h1 {
    line-height: 44px;
  }
}

@media (max-width: 767px) {
  .white-block,
  .light-grey-block,
  .primary-block {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  p {
    font-size: 16px;
  }
  .faq .acc {
    width: 90%;
  }
  .media img {
    height: 25px;
    margin: 15px;
  }
}

@media (max-width: 720px) {
  h1 {
    font-size: 26px;
    line-height: 32px;
  }
  .hero-block h1 {
    line-height: 35px;
  }
  .light-grey-block h2,
  .white-block h2 {
    text-align: left;
    font-size: 26px;
    line-height: 30px;
  }
  .faq .container {
    padding-bottom: 40px;
  }
  .faq .acc {
    width: 100%;
  }
  .faq .acc .acc-item {
    margin-bottom: 10px;
  }
  .faq .acc .acc-item h3 {
    font-size: 18px;
    padding: 20px 40px 20px 20px;
  }
  .faq .acc .acc-item h3:after {
    right: 20px;
  }
  .faq .acc .acc-item .acc-content {
    padding: 20px;
  }
  .flex {
    display: block;
  }
  .flex .col {
    -webkit-box-flex: 0 !important;
        -ms-flex: none !important;
            flex: none !important;
    max-width: none !important;
  }
  .what-is-loanscore {
    padding-bottom: 0 !important;
  }
  .what-is-loanscore .flex .col:first-child {
    padding: 0;
  }
  .what-is-loanscore .flex .col img {
    margin: 0 auto;
  }
  .four-points {
    padding-bottom: 0;
  }
  .four-points .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .four-points .flex .col {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 !important;
            flex: 1 !important;
    -ms-flex-preferred-size: 50% !important;
        flex-basis: 50% !important;
    max-width: 50% !important;
  }
  .four-points .flex .col img {
    height: 75px;
  }
  .how-it-works {
    padding-top: 45px;
  }
  .how-it-works .flex {
    padding-bottom: 40px;
  }
  .how-it-works .flex .col:first-child {
    padding: 0;
    padding-bottom: 0;
  }
  .how-it-works .flex .col:last-child {
    padding: 0;
  }
  .how-it-works .flex .white-card {
    padding: 0;
  }
  .features .flex {
    padding-bottom: 40px;
  }
  .features h2 {
    margin-bottom: 40px;
  }
  .features .col:last-child {
    margin-bottom: 0;
  }
  .hero-block {
    padding-top: 0;
    padding-bottom: 0;
  }
  .hero-block .flex p {
    font-size: 16px;
  }
  .hero-block .flex .col:first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .hero-block .flex .col:first-child img {
    display: block;
    min-width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center top;
       object-position: center top;
  }
  .hero-block .flex .col:last-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .hero-block .flex .col:last-child .col-content {
    padding: 45px 25px;
    float: none;
    max-width: none;
  }
  .hero-block .flex .col:last-child .col-content a.btn {
    margin-right: 0;
  }
  .hero-block .flex .col:last-child .col-content a:not(.btn) {
    font-size: 18px;
  }
  .testimonials .container {
    padding-bottom: 40px;
  }
  .testimonials p {
    font-size: 26px;
    line-height: 32px;
    padding: 0 15px;
  }
  .media .container,
  .partners .container {
    padding-bottom: 40px;
  }
  .media h3,
  .partners h3 {
    padding: 0 15px;
    margin-bottom: 45px;
  }
  .media img,
  .partners img {
    margin: 8px 15px;
  }
  .ctas h2 {
    text-align: center;
  }
  .ctas a.btn {
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .hero-block h1 {
    margin-bottom: 15px;
  }
  .hero-block h1 span {
    margin-top: 10px;
  }
  .hero-block p {
    margin: 25px 0;
  }
  .hero-block .flex .col:first-child img {
    height: 280px;
  }
  .hero-block .flex .col:last-child .col-content {
    padding-top: 20px;
  }
  .hero-block a:not(.btn) {
    text-align: center;
  }
  .four-points .flex .col {
    padding: 0 30px;
  }
}

.scoll-loader-container {
  opacity: 0;
}

.scoll-loader-container.showing {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.scoll-loader-container .scoll-loader-element {
  opacity: 0;
}

.scoll-loader-container .scoll-loader-element.slide-up {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.scoll-loader-container .scoll-loader-element.slide-in-right {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

.scoll-loader-container .scoll-loader-element.showing {
  opacity: 1;
  -webkit-transform: translateY(0px) translateX(0px);
          transform: translateY(0px) translateX(0px);
  -webkit-transition: opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
  transition: opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
}
/*# sourceMappingURL=style.css.map */