$primary: #14b2a1;
$secondary: #2a2e59;
$accent: #696cc1;
$salmon: #eb505b;
$black: #274053;
$dark: #274053;
$dark-grey: #7e8d98;
$grey: #939fa9;
$light-grey: #f9f9f9;
$border: rgba(151,151,151,0.15);
$faqBorder: rgba(121,121,121,0.15);

$container-width: 1140px;
$container-pad: 25px;
$verti-pad: 80px;
$verti-half: 40px;
$default-font-size: 20px;
$border-radius: 3px;
$faq-border-radius: 6px;

$grad-from: #2A2E59;
$grad-to: #14B2A1;

@font-face {
  font-family: 'avenir-book';
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_0_0.eot");
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_0_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_0_0.woff2") format("woff2"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_0_0.woff") format("woff"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'avenir-medium-italic';
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_1_0.eot");
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_1_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_1_0.woff2") format("woff2"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_1_0.woff") format("woff"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'avenir-italic';
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_2_0.eot");
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_2_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_2_0.woff2") format("woff2"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_2_0.woff") format("woff"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_2_0.ttf") format("truetype"); }

@font-face {
  font-family: 'avenir-medium';
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_3_0.eot");
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_3_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_3_0.woff2") format("woff2"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_3_0.woff") format("woff"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_3_0.ttf") format("truetype"); }

@font-face {
  font-family: 'avenir-black-italic';
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_4_0.eot");
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_4_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_4_0.woff2") format("woff2"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_4_0.woff") format("woff"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_4_0.ttf") format("truetype"); }

@font-face {
  font-family: 'avenir-black';
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_5_0.eot");
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_5_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_5_0.woff2") format("woff2"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_5_0.woff") format("woff"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_5_0.ttf") format("truetype"); }

@font-face {
  font-family: 'avenir-light';
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_6_0.eot");
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_6_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_6_0.woff2") format("woff2"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_6_0.woff") format("woff"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_6_0.ttf") format("truetype"); }

@font-face {
  font-family: 'avenir-light-italic';
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_7_0.eot");
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_7_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_7_0.woff2") format("woff2"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_7_0.woff") format("woff"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_7_0.ttf") format("truetype"); }

@font-face {
  font-family: 'avenir-heavy-italic';
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_8_0.eot");
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_8_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_8_0.woff2") format("woff2"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_8_0.woff") format("woff"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_8_0.ttf") format("truetype"); }

@font-face {
  font-family: 'avenir-heavy';
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_9_0.eot");
  src: url("https://cdn.unohomeloans.com.au/fonts/3103B7_9_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_9_0.woff2") format("woff2"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_9_0.woff") format("woff"), url("https://cdn.unohomeloans.com.au/fonts/3103B7_9_0.ttf") format("truetype"); }

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  font-family:"avenir-book", Arial, Helvetica, sans-serif;
  font-size:$default-font-size;
  display:flex;
  min-height:100vh;
  flex-direction:column;
  color:$black;
  counter-reset: section;
}
.gradient-background {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a2e59+0,14b2a1+100 */
  background: #2a2e59; /* Old browsers */
  background: -moz-linear-gradient(45deg, #2a2e59 0%, #14b2a1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #2a2e59 0%,#14b2a1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #2a2e59 0%,#14b2a1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2e59', endColorstr='#14b2a1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.gradient-background2 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a2e59+0,14b2a1+100 */
  background: #2a2e59; /* Old browsers */
  background: -moz-linear-gradient(135deg, #2a2e59 0%, #14b2a1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(135deg, #2a2e59 0%,#14b2a1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #2a2e59 0%,#14b2a1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2e59', endColorstr='#14b2a1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.dark-block {
  background:$dark;
  padding:$verti-pad 0;
}
.light-grey-block {
  background:$light-grey;
  padding:$verti-pad 0;
}
.primary-block {
  background:$primary;
  padding:$verti-pad 0;
  color:#fff;
}
.white-block {
  padding:$verti-pad 0;
}
.container {
  max-width:$container-width;
  margin:0 auto;
  padding-left:$container-pad;
  padding-right:$container-pad;
}
.center {
  text-align:center;
}
header {
  flex:0;
  padding:25px;
}
footer {
  flex:0;
  background:#234;
  color:$light-grey;
  padding:50px 25px;
}
header,
footer {
  h1 {
    font-family:'avenir-black';
    margin:0;

    small {
      font-family:'avenir-light';
      font-size:50%;
    }
  }
}
.main-content {
  flex:1;
}
img {
  display:block;
  max-width:100%;
}
h1, h2, h3, h4, h5, h6 {
  line-height:1.25;
  margin-bottom:35px;
}
h1 {
  font-size:42px;
  line-height:50px;
  font-family:'avenir-heavy';

  span {
    display:block;
    margin-top:25px;
  }
}
li {
  line-height:1.5;
  margin-bottom:8px;
}
p {
  line-height:1.5;
  margin-bottom:35px;
}
h2 {
  font-size:32px;
  font-family:'avenir-heavy';
}
a {
  color:$black;
  text-decoration:underline;
}
.btn {
  display:inline-block;
  padding:15px 45px;
  background:$salmon;
  color:#fff;
  font-family:'avenir-medium';
  text-decoration:none;
  border-radius:$border-radius;
  transition:all .25s ease-out;

  &.btn-outline {
    background:transparent;
    color:$secondary;
    border:2px solid $secondary;
  }
  @media (max-width:600px) {
    width:100%;
    text-align:center;
  }
}
.btn-white {
  background:#fff;
  color:$black;

  &.btn-outline {
    color:#fff;
    border:2px solid #fff;

    &:hover {
      background:#fff;
      color:$black;
    }
  }
}
.flex {
  display:flex;

  &.two-col {
    .col {
      flex-basis:50%;
      max-width:50%;
    }
  }
  &.four-col {
    .col {
      flex-basis:25%;
      max-width:25%;
    }
  }
}
.hero-block {
  padding:0;

  .flex {
    flex-direction:row;
    // color:#fff;

    .col:first-child {
      order:2;
      overflow:hidden;
      background-position:center top;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

      img {
        display:none;
      }
      .image-text {
        position:absolute;
        bottom:45px;
        left:35px;
        color:#fff;
        text-shadow:2px 2px 3px rgba(0,0,0,0.5);
        font-size:16px; 
        max-width:190px;
        line-height: 1.5;
      }
      .gradient-background {
        position: absolute;
        bottom:-58px;
        left:-15px;
        width:125%;
        height:80px;
        transform-origin:top left;
        transform:rotate(-2deg);
      }
    }
    .col:last-child {
      order:1;
      margin:0 0 0 -1px;

      .col-content {
        padding:150px 45px 150px 25px;
        max-width:$container-width / 2;
        float:right;

        // a {
        //   color:#fff;
        // }
        a.btn{
          padding-left: 35px;
          padding-right: 35px;
        }
      }
    }
  }
  p {
    margin:35px 0;
    font-size:20px;
    line-height:30px;
  }
  a.btn {
    margin-right:45px;
  }
  a:not(.btn) {
    font-size: 18px;
  }
}

.four-points {
  padding-top:60px;
  padding-bottom:45px;

  .col {
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    color:#fff;
    font-size:16px;
    line-height:24px;
    font-family:'avenir-heavy';
    padding:0 2vw;
  }
}

.what-is-loanscore {
  padding-bottom:0;
  

  .flex {
    overflow:hidden;
    border-bottom:1px solid #eee;

    .col {
      position: relative;
      // padding-right:45px;

      &:first-child {
        padding-left:0;
        padding-right:45px;
        padding-bottom:60px;
      }
      &:last-child {
        img {
          margin:0 auto -80px;
          
          @media (max-width:720px) {
            max-width:50%;
          }
          @media (max-width:480px) {
            max-width:100%;
          }
        }
      }
      h2 {
        margin-top:10px;
        line-height:44px;

        span {
          font-family:'avenir-light';
        }
      }
    }
  }

  // SCORE ANIMATION ELEMENTS
  .score-content{
    position: absolute;
    transform-origin: 50% 0%;
    width: 415px;
    height: 100%;
    top: 0;
    left: 0;
    // background: rgba(220,0,0,0.15);
    left: 50%;
    transform: translateX(-50%);

    .savings{
      position: absolute;
      top: 110px;
      left: 50%;
      transform: translateX(-50%);
      width: 78%;
      padding: 10px 10px 10px 15px;
      height: 60px;
      border-radius: 5px;
      background: #dcf4f1;
      box-sizing: border-box;

      .align-left{
        display: inline-block;
        width: 40%;
        text-align: left; 
      }

      .align-right{
        width: 55%;
        display: inline-block;
        text-align: right; 
      }

      span{
        color: #14b2a1;
        // vertical-align: bottom;

        &.sml{
          font-size: 14px;
          font-family: 'avenir-light';
        }

        &.med{
          font-size: 18px;
          font-family: 'avenir-light';
        }

        &.lrg{
          font-size: 36px;
          font-family: 'avenir-heavy';
          letter-spacing: -1px;
        }
      }
    }

    .score{
      position: absolute;
      top: 240px;
      left: 50%;
      transform: translateX(-50%);
      width: 240px;
      height: 240px;
      background: url(img/score-dial-background.png) no-repeat center;
      box-sizing: border-box;

      .dial,
      .text{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      .dial{
        font-size: 0;
        background: url(img/score-dial-pointer.png) no-repeat center;
        transform: rotate(300deg)
      }

      .text{
        top: 65px
      }

      span{
        color: #284052;
        display: block;
        text-align: center;
        line-height: 1;
        // vertical-align: bottom;

        &.sml{
          font-size: 14px;
          font-family: 'avenir-light';

          &.grey{
            color: #93a0aa;
          }
        }

        &.lrg{
          font-size: 70px;
          font-family: 'avenir-heavy';
          letter-spacing: -1px;
        }
      }
    }
  }
}

.how-it-works {
  padding-bottom: 0!important;

  .flex {
    padding-bottom:$verti-pad;
    border-bottom:1px solid $border;

    .col {
      padding-right:80px;

      &:first-child {
        order:2;
        padding-left:35px;
      }
      &:last-child {
        order:1;
        padding: left 0;
        padding-right:35px;
      }
      .white-card {
        background:#fff;
        padding:35px 45px 25px;
        box-shadow:0px 5px 20px rgba(0,0,0,0.15);
        border-radius:5px;

        h3 {
          font-family:'avenir-heavy';
          font-size:24px;
          line-height:33px;

          span {
            font-family:'avenir-light';
          }
          strong {
            color:$salmon;
          }
        }
        ul {
          list-style-type:none;
          font-size:16px;

          li {
            margin-bottom:25px;
            padding-left:55px;
            position: relative;

            &:before {
              position: absolute;
              top:-7px;
              left:0;
              margin-right:20px;
              counter-increment: section;
              content: counter(section);
              width:37px;
              height:37px;
              border-radius:50%;
              background:$primary;
              color:#fff;
              text-align: center;
              line-height:39px;
              font-family:'avenir-black';
            }
          }
        }
      }
    }
  }
}

.features {
  padding-bottom: 0!important;

  h2 {
    margin-bottom:$verti-pad;

    span {
      color:$salmon;
    }
  }
  .flex {
    flex-flow:row wrap;
    padding-bottom: 80px;
    border-bottom:1px solid $border;

    .col {
      margin-bottom:20px;
      padding-right:45px;
      position: relative;
      padding-left:60px;

      &:nth-child(odd) {
        padding-right:60px;

        @media (max-width:720px) {
          padding-right:25px;
        }
      }
      &:before {
        position:absolute;
        content:'';
        width:37px;
        height:37px;
        top:-1px;
        left:0;
        background:$primary;
        border-radius:50%;
      }
      &:after {
        position: absolute;
        content:'';
        width:16px;
        height:6px;
        border:2px solid;
        border-color:transparent transparent #fff #fff;
        transform:rotate(-45deg);
        left:8px;
        top:9px;
      }
      h3 {
        font-family:'avenir-heavy';
        font-size:16px;
        margin-bottom:5px;
      }
      p {
        font-size: 16px;
        margin-bottom:15px;

        @media (max-width:720px) {
          margin-bottom:35px;

          &:last-child {
            margin-bottom:0;
          }
        }
      }
    }
  }
}

.testimonials {
  padding-bottom: 0!important;

  .container {
    border-bottom:1px solid $border;
    padding-bottom: 80px;
  }
  p {
    font-size:32px;
    line-height:42px;
    font-family:'avenir-black';
    padding:0 15%;
    margin:0;
    color:$primary;
  }
}

.media,
.partners {
  padding-bottom:0!important;

  .container {
    border-bottom:1px solid $border;
    padding-bottom: 80px;
  }
  h3 {
    font-family: 'avenir-black';
    font-size:24px;
    line-height:33px;
    padding:0 15%;
  }
  img {
    display:inline-block;
    margin:20px 15px;
    height:30px;
  }
}
.media {
  .container {
    border:none;
  }
  img {
    margin:15px 35px;
    height:35px;
  }
}

.faq {
  padding-bottom: 0!important;
  
  .container {
    border-bottom:1px solid $border;
    padding-bottom: 80px;
  }
  .acc {
    width:75%;
    margin:0 auto;

    .acc-item {
      background:transparent;
      border-radius:$faq-border-radius;
      margin-bottom:15px;
      text-align:left;
      transition:all 0.25s ease-out;
      box-shadow:0 1px 2px rgba(0,0,0,0.015);

      h3 {
        position:relative;
        margin:0;
        font-size:20px;
        font-family:'avenir-light';
        display:block;
        padding:35px 80px 35px 40px;
        cursor:pointer;
        color:$primary;

        &:after {
          position:absolute;
          right:40px;
          top:40%;
          content:'';
          width:8px;
          height:8px;
          border:2px solid;
          border-color:transparent $black $black transparent;
          transition:all .25s ease-out;
          transform-origin:center;
          transform:rotate(45deg);
        }
      }
      &.open {
        border:1px solid $border;
        transform-origin:center;
        transform:scale(1.075);
        background:$light-grey;
        box-shadow:0 10px 20px rgba(0,0,0,0.15);

        h3 {
          &:after {
            transform:rotate(-135deg);
          }
        }
      }
      .acc-content {
        border-top:1px solid $faqBorder;
        display:none;
        padding:20px 40px 40px;

        p {
          margin:0;
          font-size:16px;
        }
      }
    }
  }
}

.ctas {
  color:#fff;
  padding-top:150px;
  padding-bottom:150px;

  h3 {
    display:block;
    font-family:'avenir-light';
    font-size:32px;
  }
  a.btn {
    margin:20px;
  }
}

.sticky {
  position:fixed;
  transition:all .25s cubic-bezier(.34,1.39,.55,1.12);
  bottom:-120px;
  left:0;
  width:100%;
  background:$salmon;
  color:#fff;
  z-index:999;
  text-align:center;
  font-size:16px;

  p {
    margin:0;
    padding:10px 25px;
  }
  a.btn {
    width:auto;
    margin:0 25px;
    color:#fff;
    border-color:#fff;
    padding:8px 35px;

    @media (max-width:640px) {
      margin-top:15px;
    }

    &:hover {
      background:#fff;
      color:$salmon;
    }
  }
  &.show {
    bottom:0;
  }
}

@media (max-width:1180px) {
  big,
  h1 {
    font-size:35px;
  }
  .hero-block {
    .flex {
      .col {
        &:last-child {
          .col-content {
            padding:80px 40px;

            a.btn {
              margin-right:15px;
            }
            a:not(.btn) {
              display:block;
              margin-top:35px;
            }
          }
        }
      }
    }
  }
}

@media (max-width:1024px) {
  .hero-block {
    h1 {
      line-height: 44px;
    }
  }
}

@media (max-width:1023px) {
  
}

@media (max-width:767px) {
  .white-block,
  .light-grey-block,
  .primary-block {
    padding-top:$verti-half;
    padding-bottom:$verti-half;
  }
  p {
    font-size:16px;
  }
  .faq {
    .acc {
      width:90%;
    }
  }
  .media {
    img {
      height:25px;
      margin:15px;
    }
  }
}

@media (max-width:720px) {
  h1 {
    font-size:26px;
    line-height:32px;
  }
  .hero-block {
    h1 {
      line-height:35px;
    }
  }
  .light-grey-block,
  .white-block {
    h2 {
      text-align:left;
      font-size:26px;
      line-height:30px;
    }
  }
  .faq {
    .container {
      padding-bottom: $verti-half;
    }
    .acc {
      width:100%;

      .acc-item {
        margin-bottom:10px;

        h3 {
          font-size:18px;
          padding:20px 40px 20px 20px;

          &:after {
            right:20px;
          }
        }
        .acc-content {
          padding:20px;
        }
      }
    }
  }
  .flex {
    display:block;

    .col {
      flex:none!important;
      max-width:none!important;
    }
  }
  .what-is-loanscore {
    padding-bottom:0!important;

    .flex {
      .col:first-child {
        padding:0;
      }
      .col {
        img {
          margin:0 auto;
        }
      }
    }
  }
  .four-points {
    padding-bottom:0;

    .flex {
      display:flex;
      flex-wrap:wrap;

      .col {
        flex:1!important;
        flex-basis:50%!important;
        max-width:50%!important;

        img {
          height:75px;
        }
      }
    }
  }
  .how-it-works {
    padding-top: 45px;

    .flex {
      padding-bottom:$verti-half;

      .col:first-child {
        padding:0;
        padding-bottom:0;
      }
      .col:last-child {
        padding:0;
      }
      .white-card {
        padding:0;
      }
    }
  }
  .features {
    .flex {
      padding-bottom:$verti-half;
    }
    h2 {
      margin-bottom:$verti-half;
    }
    .col:last-child {
      margin-bottom:0;
    }
  }
  .hero-block {
    padding-top:0;
    padding-bottom:0;

    .flex {
      p {
        font-size:16px;
      }
      .col:first-child {
        order:1;
        
        img {
          display:block;
          min-width:100%;
          height:400px;
          object-fit:cover;
          object-position:center top;
        }
      }
      .col:last-child {
        order:2;

        .col-content {
          padding:45px 25px;
          float:none;
          max-width:none;

          a.btn {
            margin-right:0;
          }
          a:not(.btn) {
            font-size:18px;
          }
        }
      }
    }
  }
  .testimonials {
    .container {
      padding-bottom:$verti-half;
    }
    p {
      font-size:26px;
      line-height:32px;
      padding:0 15px;
    }
  }
  .media,
  .partners {
    .container {
      padding-bottom:$verti-half;
    }
    h3 {
      padding:0 15px;
      margin-bottom:45px;
    }
    img {
      margin:8px 15px;
    }
  }
  .ctas {
    h2 {
      text-align:center;
    }
    a.btn {
      margin:0 auto;
    }
  }
}

@media (max-width:600px) {
  .hero-block {
    h1 {
      margin-bottom:15px;

      span {
        margin-top:10px;
      }
    }
    p {
      margin:25px 0;
    }
    .flex {
      .col:first-child {
        img {
          height:280px;
        }
      }
      .col:last-child {
        .col-content {
          padding-top:20px;
        }
      }
    }
    a:not(.btn) {
      text-align:center;
    }
  }
  .four-points {
    .flex {
      .col {
        padding:0 30px;
      }
    }
  }
}

// 
//
//
//
// 
//
//
//
@import 'scroll-loader';
// 
//
//
//
// 
//
//
//